<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="Upload" enctype="multipart/form-data" id="form1">
    <input type="file" name="file" id="file">
    <input type="button" value="上传" id="btnSubmit">
</form>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $.ajax({
                type: "POST",
                url: "/upload",
                processData: false,
                contentType: false,
                data: new FormData($('#form1')[0]),
                success: function(result){
                    console.log(result);
                    if(result.success){
                        alert("上传成功");
                        window.location.href="../static/upload/";
                    }else{
                        alert(result.msg||"上传失败");
                    }
                }
            });
        });
    });
</script>
</html>